* {
  margin: 0;
}

.app{
  background-color: #fafafa;
  height: 100vh;
}

.app__header{
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  object-fit: contain;
}

.app__signup{
  display: flex;
  flex-direction: column;
}